{% extends "base.html" %}
{% load django_vite %}

{% block title %}Portfolio - Tony the Coder{% endblock title %}

{# This block now ONLY contains the root div for the React application. #}
{# This makes it a true "hero" as it's the first thing in the content area. #}
{% block hero_section %}
  <div id="react-portfolio-showcase-root">
    <p class="text-center p-16">Loading Projects...</p>
  </div>

  {# The data script is placed right after the div that needs it. #}
  {{ projects_json|json_script:"portfolio-projects-data" }}
{% endblock hero_section %}

{# These blocks are now empty because React is handling all of this page's content. #}
{% block breadcrumbs_block %}{% endblock breadcrumbs_block %}
{% block content %}{% endblock content %}


{% block extra_js %}
    {{ block.super }}
    {% vite_react_refresh %}
    {% vite_asset 'portfolioPageEntry.tsx' %}
{% endblock extra_js %}